<nav>
  <ul>
    <li><a href="/">Home</a></li>
    <li> <a href="#">Admin</a>
    <ul>
      <li> <a href="/form">Post Here</a> </li>
      <li><a href="/postures">All postures</a></li>
    </ul>
    </li>
    <li>  <a href="#">Pages</a>
    <ul>
      <%
      if (typeof(pages) != 'undefined')
      {
        for (let page of pages)
      {
      %>
      <li class="pageicon"> <a href="/page/<%= page._id %>">  <%= page.title %> </a></li>
      <%
        }
      }
      %>
    </ul>
    </li>
  </ul>
</nav>