<%- include('layouts/header'); -%>
<body>
    <header>
        <img src="/images/icon.png" class="color"></img>
        <h1>Posture Page</h1>
      </header>
    <%- include('layouts/nav'); -%>
    <main>
    <section >
        <div class="formData">
            <p class="delete"><%= message %> </p> <!-- No need to check errors, as its alredy done! -->
        </div>
    </section>
</main>
<%- include('layouts/footer'); -%>


