<%- include('layouts/header'); -%>
<body>
  <header>
    <img src="/images/icon.png" class="color"></img>
    <h1>Posture Page</h1>
  </header>
  <%- include('layouts/nav'); -%>
  <main>
    <a href="/logout">Logout</a>
  <section class="w50">
    <form name="myform" method="Post" enctype="multipart/form-data" >
        <label>Title</label>
        <input id="title" placeholder="Title of your posture" type="text" name="title" value="<%= posture.title %>"/><br/>

        <label>Name</label>
        <input id="name" placeholder="First Last" type="text" name="name" value="<%= posture.name %>"/><br/>
  
        <label>Content</label>
        <textarea id="content" placeholder="Type here" type="text"  name="content">
          <%= posture.content %>
        </textarea><br/>
  
        <label>Image</label>
        <input id="image" type="file" name="myimage"  /><br/>
        <img src="/images/upload/<%= posture.imageName %>" />

      <input type="submit" value="Update">
      <p id="errors">
        <%
          if (typeof(errors) != 'undefined')
          {
            for (let error of errors)
            {
        %>
          <p class='errors'> <%= error.msg %> </p>
        
        <%
            }
          }
        %>
      </p>
    </form>  
</section>
<script>
  new FroalaEditor('#content');
</script>
</main>
<%- include('layouts/footer'); -%>