<%- include('layouts/header'); -%>
<body>
  <header>
    <img src="/images/icon.png" class="color"></img>
    <h1>Posture Page</h1>
  </header>
  <%- include('layouts/nav'); -%>
  <main>
    <a href="/logout">Logout</a>
<section class="w50">
  <div class="formData">
      <%
      if (typeof(postureData) != 'undefined')
      {
    %>  
    <p id="formResult">Posture Updated Successfully:</p>
    <table>
        <tr>
            <th>Name: </th>
            <td> <%= postureData.name %> </td>
          </tr>
          <tr>
            <th>Title: </th>
            <td> <%= postureData.title %> </td>
          </tr>
          <tr>
            <th>Content: </th>
            <td id="content"> </td>
          </tr>
          <tr>
            <th>Image: </th>
            <td> <img src="/images/upload/<%= postureData.imageName %>" /> </td>
          </tr> 
    </table>
    <%
      }
    %> 
  </div>
</section>
<div class="clear"></div>
<script>
  const doc = new DOMParser().parseFromString('<%= postureData.content %>', "text/html")
 document.getElementById('content').innerHTML = doc.body.childNodes[0].nodeValue;
 </script>
  </main>
<%- include('layouts/footer'); -%>