<%- include('layouts/header'); -%>
<body>
  <header>
    <img src="/images/icon.png" class="color"></img>
    <h1>Posture Page</h1>
  </header>
  <%- include('layouts/nav'); -%>
  <main>
  <a href="/logout">Logout</a>
  <section class="w50">
    <form name="myform" method="Post" enctype="multipart/form-data">
      <label>Title</label>
      <input id="title" placeholder="Title of your posture" type="text" name="title"><br/>
      <label>Name</label>
      <input id="name" placeholder="First Last" type="text" name="name"><br/>
      <label>Content</label>
      <textarea id="content" placeholder="Type here" type="text" rows="5" cols="12"  name="content">
      </textarea>
       <label for="myimage">Image</label><br/>
      <input id="image" accept="image/*" type="file" name="myimage" class="file"><br/>
      <input type="submit" value="Submit">
      <p id="errors">
        <%
          if (typeof(errors) != 'undefined')
          {
            for (let error of errors)
            {
        %>
          <p class='errors'> <%= error.msg %> </p>
        
        <%
            }
          }
        %>
      </p>
    </form>  
</section>
<!-- Initialize the editor. -->
<script>
  new FroalaEditor('#content');
</script>
</main>
<%- include('layouts/footer'); -%>

