<%- include('layouts/header'); -%>
<body>
  <header>
    <img src="/images/icon.png" class="color"></img>
    <h1>Posture Page</h1>
  </header>
  <%- include('layouts/nav'); -%>
  <main>
    <div class="hero">
    <img src="/images/back.jpg">
 
    <h2 class="herotext">Enjoy your Free Blog Page</h2>
  </div>
</main>
  <%- include('layouts/footer'); -%>
  
 