<%- include('layouts/header'); -%>
<body>
  <header>
    <img src="/images/icon.png" class="color"></img>
    <h1>Posture Page</h1>
  </header>
  <%- include('layouts/nav'); -%>
  <section>
    <form name="myform" method="Post" class="loginform" action="">
      <label>Username</label>
      <input id="username" type="text" name="username"><br/>

      <label>Password</label>
      <input id="password" type="password" name="password"><br/>
      
      <br/><br/>

      <input type="submit" value="Submit">
      <p id="errors">
          <%
            if (typeof (error) !== 'undefined')
            {
          %>
                <%= error %>
          <%
            }
          %>
      </p>
    </form>  
</section>
</body>
<%- include('layouts/footer'); -%>