<%- include('layouts/header'); -%>
<body>
  <header>
    <img src="/images/icon.png" class="color"></img>
    <h1>Posture Page</h1>
  </header>
  <%- include('layouts/nav'); -%>
<main>
<section class="w50">
  <div class="formData">
    <%
      if (typeof(errors) != 'undefined')
      {
        for (let error of errors)
        {
    %>
      <p class='errors'> <%= error.msg %> </p>
    
    <%
        }
      }
    %>

    <%
      if (typeof(posture) != 'undefined')
      {
    %>
    <p id="formResult">Your Posture</p>
    <table>
      <tr>
        <th>Title: </th>
        <td> <%= posture.title %> </td>
      </tr>
      <tr>
        <th>Name: </th>
        <td> <%= posture.name %> </td>
      </tr>
      <tr>
        <th>Content: </th>
        <td id="content"> 
        
        </td>
      </tr>
      <tr>
        <th>Image: </th>
        <td> <img src="/images/upload/<%= posture.imageName %>" /> </td>
      </tr>
    </table>
    <%
      }
    %>
    
  </div>
</section>
<div class="clear"></div>
<script>
 const doc = new DOMParser().parseFromString('<%= posture.content %>', "text/html")
 console.log('<%= posture.content %>');
 console.log(doc.body.childNodes[0].nodeValue)
document.getElementById('content').innerHTML = doc.body.childNodes[0].nodeValue;
</script>
</main> 

<%- include('layouts/footer'); -%>