<%- include('layouts/header'); -%>
<body>
    <header>
        <img src="/images/icon.png" class="color"></img>
        <h1>Posture Page</h1>
      </header>
    <%- include('layouts/nav'); -%>
    <main>
    <a href="/logout">Logout</a>
   
    <section >
        <table class="w50">
            <thead>
                <th>Title</th>
                <th>Name</th>
                <th>Content</th>
                <th>Image</th>
                <th>Delete</th>
                <th>Edit</th>
                <!-- <th>Image</th> -->
            </thead>
            <tbody>
                <%
                    for (var posture of postures)
                    {
                %>
                <tr>
                    <td><%= posture.title %></td>
                    <td><%= posture.name %></td>
                    <td id='<%= posture._id %>'>
                        <script>
                            var doc = new DOMParser().parseFromString('<%= posture.content %>', "text/html")
                           document.getElementById('<%= posture._id %>').innerHTML = doc.body.childNodes[0].nodeValue;
                           </script>
                    </td>
                    <td> <img src="/images/upload/<%= posture.imageName %>" /></td> 
                    <td><a href="/delete/<%= posture._id %>">Delete</a></td>
                    <td><a href="/edit/<%= posture._id %>">Edit</a></td>
                </tr>
                <%
                    }
                %>
            </tbody>
        </table>
    </section>
</main>
<%- include('layouts/footer'); -%>
