body
  {
    background-color : rgba(107, 109, 235, 0.5);
    width:100;
    margin: 0px auto;
    font-family: 'Segoe UI',  'Open Sans', sans-serif;
  }
  main> a{
    padding-left: 1200px;
    font-weight: bolder;
   text-decoration: none;
  }
  h4{
    text-align: center;
  }
 
header
  {
    display:block;
    height:100px; 
  }
body >header> img 
  {
    float: left;
    width: 100px;
    height: 100px;
    
  }
  
  main img{
    width:100%;
    height:100%;
  }
 
header h1 
  {
    position: relative;
    float:right;
    top: 18px;
    font-style: italic;
    color: black;
  }
nav
  {
    clear:both;
    border:2px solid #01070c;
    text-align: center;
    background-color:rgba(62, 66, 250, 0.5); 
    font-weight: bold;
  }
  nav ul li{
    display: inline-block;
    list-style: none;
    position: relative;
    padding: 0 30px;
  }
  nav ul li ul  {
    display: none;
    background-color:rgba(62, 66, 250, 0.5);
    border:2px solid #01070c;
  }
  nav ul li ul li {
    display: block;
  }
  nav ul li:hover ul{
    z-index: 100;
    display: block;
    position: absolute;
    left: 0px;
    right:0px;
    padding: 0px;
    width: 200px;
    top: 25px;
    text-align: left;
  }
 nav ul li ul .pageicon::before{
   list-style-type: none;
   content:"\262F";

 }

  .hero{
    position: relative; /* to make this div the relative ancestor of .herotext */
    text-align: center; /* to center all the content in .hero */
    
}
.herotext{
    position: absolute; /* make .herotext content sit in a separate layer over the image */
    top: -40px; /* make the .herotext cover the entire area of .hero from top */
    bottom: -40px; /* to bottom */
    left: 0; /* and left */
    right: 0; /* right, so that the entire image is overlayed */
    background-color: rgba(107, 109, 235, 0.5); /* add a semi transparent background */
    padding: 150px 20px; /* add some padding */
    color: #fbeeef; /* change the text colour */
    font-family: sans-serif; /* make the font appear in sans-serif */
    font-weight: bolder; /* make the text bold */
    font-size: 50px;
}
.herotext h2{
    color: white; /* change the colour of the heading in .herotext */
}
  a:hover
  {
    color: #01070c;
    font-weight: bold;
  }
nav a
  {
    
    font-weight: 600;
    font-size: 20px;
    color: black;
    text-decoration: none;
   }
.w50{
    width: 100%;
}
.clear{
    clear: both;
}
#errors{
    color: red;
    font-family: 'Segoe UI',  'Open Sans', sans-serif;
    font-size: 20px;
    line-height: 20px;
    text-align: center;
    padding: 10px;
    margin: 0;
    border-radius: 10px;
}
form, .formData{
    width: 80%;
    border: 3px solid white;
    box-shadow: 0 0 10px #2c2c2c;
    padding: 30px;
    margin: 50px auto;
    color: Black;
    background-color: white;
    border-radius: 20px;
}
.formResult{
  color:black;
}
.loginform 
{
  width:280px;
}

label{
    width: 170px;
    display: inline-block;
    font-size: 18px;
    color: Black;
    margin-bottom: 10px;
    font-weight: bold;
}
input{
    font-size: 16px;
    font-family: cursive;
    padding: 5px 10px;   
}
.delete{
  text-align: center;
  font-size: 20px;
  font-weight: bolder;
}
input{
    width: 80%;
    height: 20px;
    margin-bottom: 10px;
}
.loginform input{
  width:90%;
}
textarea{
  width: 100%;
}
.file{
  width:100%;
}
input[type="submit"]{
    width: 100%;
    font-size: 20px;
    background-color: rgba(62, 66, 250, 0.5); 
    color: Black;
    font-family: cursive;
    border: 0px;
    padding: 10px;
    height: 40px;
    margin:10px;
    box-shadow: 4px 4px 0px Black;
    border-radius: 4px;
}
input[type="submit"]:active{
    box-shadow: -4px -4px 0px Black;
}
table {
  border: 2px solid black;
  border-radius: 10px;
  border-style:groove;
  font-family: 'Segoe UI',  'Open Sans', sans-serif;
  box-shadow:inset 0 0 5px rgba(62, 66, 250, 0.5); 
 }
 .border{
     border: 2px solid black; 
 }
 .right{
   text-align: right;
 }
 .center{
   text-align: center;
 }
 table {
  border: 2px solid rgba(62, 66, 250, 0.5); 
  border-collapse: collapse;
  margin: 20px auto;
  color:black;
}

td{
  border: 2px solid rgba(62, 66, 250, 0.5); 
  padding: 5px 4px;
  text-align: center;
}

th {
  border: 2px solid rgba(62, 66, 250, 0.5);
  padding: 5px 4px;
  font-weight: bold;
  background: rgba(62, 66, 250, 0.5);
}
main >table>tr>td> img{
  width:20%;
}
footer{
  border:2px solid #01070c;
  text-align: center;
  margin:10px 0px;
  padding: 20px 0px;
  background-color:rgba(62, 66, 250, 0.5); 
  font-weight: bold;}
